.body{
    margin: 0;
    padding: 0;
    height: 1000px;
    background-color: aqua;
    background-size: 100%;
}
/* creation du over sur le body pour changer l'arrriere plan*/
.body:hover{
    background-image: url("bday-662.gif");
    background-size: 100%;
}
/*C'est le contenu de la page*/
.page{
    position: relative;
    height: 400px;
    width: 100%;
    display: grid;
    justify-content: center;
}
/*Le titre*/
.titre{
    border: 1px solid black;
    max-height: 70px;
    width: 600px;
    text-align: center;
    background-color: white;
    padding-top: 16px;
    padding-bottom: px;
}
/* Les paragraphe d'une meme structure*/
.p1, .p2, .p3{
    border: 1px solid black;
    max-height: 50px;
    color: white;
    padding-top: 24px;
    padding-bottom: px;
    text-align: center;
}
/*Background-color des paragraphe*/
.p1{
    background-color: blueviolet;
}
.p2{
    background-color: greenyellow;
}
.p3{
    background-color: deepskyblue;
}
